#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

override_dh_auto_configure:
ifeq (,$(filter nodoc,$(DEB_BUILD_OPTIONS)))
	cp debian/configs/defconfig  configs/debian_defconfig
	$(MAKE) debian_defconfig
endif

override_dh_auto_build-indep:
ifeq (,$(filter nodoc,$(DEB_BUILD_OPTIONS)))
	$(MAKE) man latexpdf
	mv doc/build/man/client.1 doc/build/man/swupdate-client.1
	mv doc/build/man/sendtohawkbit.1 doc/build/man/swupdate-sendtohawkbit.1
	mv doc/build/man/hawkbitcfg.1 doc/build/man/swupdate-hawkbitcfg.1
	mv doc/build/man/progress.1 doc/build/man/swupdate-progress.1
	mv doc/build/man/sysrestart.1 doc/build/man/swupdate-sysrestart.1
endif

override_dh_dwz:
	dh_dwz --no-dwz-multifile

override_dh_missing:
	dh_missing --fail-missing

%:
	dh $@
